<html>
  <body>
    <h1>Message details</h1>
    <h2>ID: <%= message.id %></h2>
    <h2>Text: <%= message.text %></h2>
    <h2>UserName: <%= message.user %></h2>
    <h2>Date Added: <%= message.added %></h2>
  </body>
</html>
